


    <style type='text/css'>
    .header {font-size: 13px;font-family: monaco, monospace;background: orange;color: whitesmoke;}
    h1{text-align: center;width: 50%;}
    .body-text {width: 75%;font-size: 16px;font-family: monaco, monospace;color: black;text-align: center;width: 70%;}
    .btn-login {background: orange;border-radius: 10px;border: solid 1px orange;height: 30px;font-family: monaco, monospace;color: whitesmoke;width: 80px;font-size: 18px;cursor: pointer;}</style>



<div style='font-size: 13px;font-family:monaco, monospace;background:orange;color:whitesmoke;'><center>
<H1 style='text-align: center;width: 50%;'>Delivery ha recuperado tu password de manera exitosa</H1>
<img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/password-update-3525050-2948947.png">
</center></div>

<div><br><center><H3 style='font-size:20px; font-family:monaco, monospace;'>Hola @nombre</H3>
<span style='width: 75%;font-size: 16px;font-family: monaco, monospace;color: black;text-align: center;width: 70%;'>
<p>Tu password ya ha sido recuperado por lo cual ya puedes acceder nuevamente a tu cuenta</p><p>Tu password:</p><br/>
<b style='width: 75%;font-size: 16px;font-family: monaco, monospace;color: black;text-align: center;width: 70%;'>@pass</b>
</span><br><br><button style='background: orange;border-radius: 10px;border: solid 1px orange;height: 30px;font-family: monaco, monospace;color: whitesmoke;width: 80px;font-size: 18px;cursor: pointer;'>Logear</button></center><br></div>